beautifulsoup4
selenium
lxml
seaborn
openpyxl
plotly
box2d-py
graphviz
joblib
matplotlib
nltk
numexpr
numpy
pandas
pillow
webdriver-manager
pdfplumber
rich
pymupdf
netCDF4
pydot
requests
scikit-learn
scipy
statsmodels
tqdm
xlsxwriter
spacy
geotext
geopy
pycountry
aiohttp
exifread
python-dotenv
timezonefinder